@import './globalPrimarys.scss';
@import './header.scss';
@import './content.scss';
@import './footer.scss';
@import './renderingPanel.scss';
@import './setPadding.scss';
@import './setPosition.scss';
@import './settingsLogo.scss';
@import './tiledMode.scss';
@import './settingsTest.scss';
@import './settingsPanel.scss';

* {
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    
};

.app {
    max-width: 1100px;
    margin: 20px auto;
    background-color: $primaryColorWhite;
    border: 1px solid $primaryColorLightBlue;
    border-radius: $primaryBorderRadius;
    box-shadow: 0px 6px 12px #0052E01A;
};

