
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

//global color
$primaryColorWhite : #FFFFFF;
$primaryColorBlue: #387DFF;
$primaryColorLightBlue:#F4F8FF;
$primaryColorGrey: #7683A8;

$primaryBorderRadius: 10px;

