@import './globalPrimarys.scss';


.renderingPanel {
    width: 650px;
    height: 366px;
    margin: 15px;
    border-radius: $primaryBorderRadius;
    background-image: url(../assets/images/bgimg.png);
    background-position: center;
    background-size: cover;
    position: relative;
};

.textOrLogo {
    position: absolute;
    user-select: none;
    left: 0;
    top: 0;
    border: 2px solid transparent;
    img {
        pointer-events: none;
        user-select: none;
    }
    p{
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
};
.textOrLogo:hover:after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 45px;
}

.textOrLogo:hover {
    border: 2px solid $primaryColorLightBlue;
}