@import './globalPrimarys.scss';

.renderingPanel {
    width: 650px;
    height: 366px;
    background-image: url(../assets/images/backgraundImg.png);
    background-position: center;
    background-size: contain;
    position: relative;
};

.text {
    position: absolute;
    user-select: none;
    left: 100px;
    top: 60px;
};

.logo {
    position: absolute;
    user-select: none;
    left: 100px;
    top: 60px;
};