@import './globalPrimarys.scss';


.renderingPanel {
    width: 650px;
    height: 366px;
    margin: 15px;
    border-radius: $primaryBorderRadius;
    background-image: url(../assets/images/bgimg.png);
    background-position: center;
    background-size: cover;
    position: relative;
};

.textOrLogo {
    position: absolute;
    user-select: none;
    left: 100px;
    top: 60px;
    img {
        pointer-events: none;
        user-select: none;
    }
    p{
        margin-bottom: 0;
    }
};