@import './globalPrimarys.scss';


.settingsText {
    margin: 30px auto;  
    .textInput {
        input {
            padding: 15px 45px;
            background-color: $primaryColorLightBlue;
            border: 2px solid $primaryColorBlue;
            border-radius: $primaryBorderRadius;
            outline: none;  
        };
    };
    
    .sizeColor {
        .textSize {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
        }
        border-top: 1px solid $primaryColorLightBlue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px -12px;
        p {
            font-size: 12px;
            color: $primaryColorGrey;
            margin-top: 10px;
        };
        .colorMania {
            height: 34px;
            border-radius: 5px;
            background-color: white;
            border: none;
            max-width: 34px;
            cursor: pointer;
        };
    };
    
    .selectOptionBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        select {
            padding: 10px 60px;
            border-radius: $primaryBorderRadius;
            outline: none;
            background-color: $primaryColorLightBlue;
        }
        p {
            font-size: 12px;
            color:$primaryColorGrey ;
        };
    };
};


.settingsText::before {
    content: "";
    display: block;
    position: absolute;
    background-color:  $primaryColorLightBlue;
    width: 1px;
    height: 425px;
    top: 85px;
    left: 570px;
}
