@import './globalPrimarys.scss';

.settingsText {
    margin: 30px auto;
    .textInput {
        input {
            padding: 15px 45px;
            background-color: $primaryColorLightBlue;
            border: 2px solid $primaryColorBlue;
            border-radius: $primaryBorderRadius;
            outline: none;  
        };
    };
    
    .sizeRangeColor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
        p {
            font-size: 12px;
            color: $primaryColorGrey;
        };
        .colorMania {
            height: 34px;
            border-radius: 5px;
            background-color: $primaryColorGrey;
            border: none;
            max-width: 34px;
        };
    };
    
    .selectOptionBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        select {
            width: 205px;
            height: 40px;
            border-radius: $primaryBorderRadius;
            outline: none;
            background-color: $primaryColorLightBlue;
        }
        p {
            font-size: 12px;
            color:$primaryColorGrey ;
        };
    };
    
    .tiledMode {
        margin: 20px;
        p{
            font-size: 12px;
            color:$primaryColorGrey ;
            margin-left: 85px;
            margin-bottom: 10px;
        }
        .singleOrTiled {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    
    .position {
        p{
            font-size: 12px;
            color:$primaryColorGrey ;
            margin-left: 105px;
            margin-bottom: 10px;
        }
        .arrows {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .smallSquare {
                width: 47px;
                height: 47px;
                border: 1px solid $primaryColorGrey;
                background-color: $primaryColorLightBlue;
                border-radius: $primaryBorderRadius;
            }
        }
    }
    
}



